<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
</head>

<body>
    <h1>Plese fill out the below to add card:</h1>
    <form method="post">
        <label for="country">Name of the country : </label>
        <input type="text" id="country" name="country" required>
        <br><br>
        <label for="capital">Name of the Capital : </label>
        <input type="text" id="capital" name="capital" required>
        <br><br>
        <button type="submit">Add the card</button>
    </form>
</body>

</html>